apiVersion: v1
kind: Secret
metadata:
  name: kk-payments-secrets
type: Opaque
stringData:
  DB_PASSWORD: "<replace-with-db-password>"
  STRIPE_API_KEY: "<replace-with-stripe-api-key>"
  JWT_SECRET: "<replace-with-jwt-secret>"